body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(36, 3, 3);
}

#reset-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid #000;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(215, 207, 169);
}

